<h1>Your Job Requests</h1>
<ul class="list-group">
  <% @job.each do |j| %>
  <li class="list-group-item">
    <p><%= j.hitman.name %></p>
    <p><%= j.location %></p>
    <p><%= j.deadline %></p>
    <p><%= j.details %></p>
    <%= link_to "See job", job_path(j), class:"btn btn-dark" %>
  </li>
  <% end %>
</ul>
