
<section class="vh-100 bg-image;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5 text-style">
              <h2 class="text-uppercase text-center mb-5 text-style ">Create a job</h2>
              <%= simple_form_for [@hitman, @job]  do |f| %>
                <div class="form-inputs">
                <div class="form-outline mb-4">
                  <%= f.input :deadline,
                              as: :date,
                              autofocus: true,
                              html5: true, class:"form-control form-control-lg" %>
                  </div>
                  <div class="form-outline mb-4">
                  <%= f.input :details,
                                as: :text, class: "form-control form-control-lg" %>
                  </div>
                  <div class="form-outline mb-4">
                  <%= f.input  :location, class:"form-control form-control-lg" %>
                  </div>
                 <div class="form-outline mb-4">
                  <%= f.input :target_number,
                               as: :numeric, class:"form-control form-control-lg" %>
                  </div>
                </div>

                <div class="form-actions d-flex justify-content-center">
                  <%= f.submit "Add job", class:"btn btn-outline-dark" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
