<h2>Add a job</h2>

<%= simple_form_for [@hitman, @job] do |f| %>
  <%= f.input :deadline, as: :date, html5: true %>
  <%= f.input :details, as: :text %>
  <%= f.input :location %>
  <%= f.input :target_number, as: :numeric %>
  <%= f.submit "Add job", class: "btn btn-dark" %>
<% end %>
