<h2>Add a job</h2>

<%= simple_form_for [@hitman, @job] do |f| %>
  <%= f.label :deadline %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :location %>
  <%= f.input :location %>
  <%= f.label :price %>
  <%= f.input :price %>
  <br>
  <br>
  <%= f.submit "Add job", class: "btn btn-primary" %>
<% end %>
