<h1 class="main-title">Your hitman profile</h2>
<section class="h-100 gradient-custom-">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <div class="img-thumbnail mt-4 mb-2" style="z-index: 1"><%= cl_image_tag(@hitman.photo.key, height: 140, width: 140, crop: :fill) %> </div>
              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                 <%= link_to "Send Request", new_hitman_job_path(@hitman), class: "text-decoration-none" %>
              </button>
               </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%=@hitman.name%></h5>
              <p><i class="fa-solid fa-location-crosshairs"></i> <%=@hitman.location%></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"><%= @hitman.jobs.where(completed: true).count %></p>
                <p class="small text-muted mb-0">Dead Body</p>
              </div>
            </div>
          </div>
          <div class="card-body-1 p-4 text-black">
            <div class="mb-3">
              <p class="lead fw-normal mb-1"> <strong>About</strong></p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"> <strong> Bio: </strong> <%= @hitman.bio %></p>
                <p class="font-italic mb-0"><strong> Method: </strong> <%= @hitman.method %></p>
              </div>
            </div>
          </div>
          <div class="buttons d-flex mb-2">
            <%= link_to "Edit profile", edit_hitman_path(@hitman), class:"btn btn-dark", style:"width:48%; margin-left:1%;"%>
            <%= link_to "Delete profile", hitman_path(@hitman), data: { turbo_method: :delete, confirm: 'Are You sure?' }, class:"btn btn-dark", style:"width:48%; margin-left:2%;"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
