<div class="fw-bolder text-center pb-3 pt-3">
<h1 class="main-title pt-3 pb-3">Deadline</h1>
<!-- [Search] -->
<div class="search mt-4 mb-4">
  <%= form_with url: hitmen_path, method: :get, class: "d-flex" do %>
      <div class="input-group rounded">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded",
          placeholder: "Search"
        %>
        <%= submit_tag "Search", class:"btn btn-light search-btn"%>
      </div>
  <% end %>
</div>
<br></br>
<!-- [...] -->

<div class="row row-cols-1 row-cols-md-3 g-4 mx-5 container">
    <% @hitmen.each do |hitman| %>
    <%= link_to hitman_path(hitman), class:"text-decoration-none" do %>
    <div class="col mb-4"  style="width:300px;">
      <div class="card position-relative">
        <%= cl_image_tag(hitman.photo.key, height: 260, width: 260, crop: :fill, class:"card-img-top hitman-img") if hitman.photo.key %>
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= hitman.name %></h5>
          <p class="card-text"> <i class="fa-solid fa-location-crosshairs"></i> <%= hitman.location %></p>
          <p class="card-text"> <i class="fa-solid fa-dollar-sign"></i> <%= hitman.price != 0 ? hitman.price : "Negotiable" %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
