<h2>Create your hitman profile</h2>

<%= simple_form_for [@hitman] do |f| %>
  <%= f.input :name %>
  <%= f.input :bio, as: :text %>
  <%= f.input :location %>
  <%= f.input :method %>
  <%= f.input :photo, as: :file %>
  <br>
  <br>
  <%= f.submit "Create your profile", class: "btn btn-primary" %>
<% end %>
