<section class="vh-100">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5 text-style">
              <h2 class="text-uppercase text-center mb-5 text-style">Create your hitman profile</h2>
              <%= simple_form_for [@hitman] do |f| %>
                <div class="form-inputs">
                <div class="form-outline mb-4 text-style">
                  <%= f.input :name %>
                  </div>
                  <div class="form-outline mb-4 text-style">
                  <%= f.input :bio, as: :text %>
                  <%= f.input :location%>
                  <%= f.input :method %>
                  <%= f.input :photo, as: :file %>
                  </div>
                </div>

                <div class="form-actions d-flex justify-content-center">
                  <%= f.submit "Create your profile", class:"btn btn-outline-dark" %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
